body {
  background-color: #1b1f27;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.area-login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #181920;
  height: 350px;
  width: 350px;
  padding: 25px;
}

.area-imagem {
  margin: 5px;
}

.login img {
  width: 65px;
  height: auto;
}

.login form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.login form input {
  padding: 0 15px;
  margin-top: 12px;
  background-color: #252a3a;
  font-size: 14px;
  color: #cbd0f7;
  border: none;
  border-radius: 8px;
  outline: none;
  height: 45px;
  transition: all 400ms;
}

.login form input:focus{
  background-color: #333a50;
}

.login form input::placeholder {
  color: #cbd0f7;
  font-size: 14px;
}

.login form input[type="submit"] {
  display: block;
  background-color: #5568fe;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 400ms;
}

.login form input[type="submit"]:hover {
  background-color: #6577ff;
  transform: scale(1.02);
}

.area-conta {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-conta p {
  color: #cbd0f7;
}

.area-conta a {
  color: #5568fe;
  text-decoration: none;
}